nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('/images/nav.png');
  margin: 0px 5px;
  padding: 5px 0px;
}

nav a {
  padding: 10px 15px;
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgba(42, 42, 42, 0.9);
}

img {
  height: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon img {
  height: 70px;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

.background {
  z-index: -1;
  opacity: 0.3;
	background: radial-gradient(circle, transparent 20%, #E4E5ED 20%, #E4E5ED 80%, transparent 80%, transparent) 0% 0% / 28px 28px, radial-gradient(circle, transparent 20%, #E4E5ED 20%, #E4E5ED 80%, transparent 80%, transparent) 14px 14px / 28px 28px, linear-gradient(#E5C1C1 1.5px, transparent 1.5px) 0px -0.75px / 14px 14px, linear-gradient(90deg, #E5C1C1 1.5px, #E4E5ED 1.5px) -0.75px 0px / 14px 14px #E4E5ED;
	background-size: 28px 28px, 28px 28px, 14px 14px, 14px 14px;
	background-color: #E4E5ED;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#content {
  max-width: 900px;
  padding: 0.2rem 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}