nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('/images/nav.png');
  margin: 0px 5px;
  padding: 5px 0px;
}

nav a {
  padding: 10px 15px;
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgba(42, 42, 42, 0.9);
}

img {
  height: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon img {
  height: 70px;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.background {
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(30deg, #6495ED 12%, transparent 12.5%, transparent 87%, #6495ED 87.5%, #6495ED), linear-gradient(150deg, #6495ED 12%, transparent 12.5%, transparent 87%, #6495ED 87.5%, #6495ED), linear-gradient(30deg, #6495ED 12%, transparent 12.5%, transparent 87%, #6495ED 87.5%, #6495ED), linear-gradient(150deg, #6495ED 12%, transparent 12.5%, transparent 87%, #6495ED 87.5%, #6495ED), linear-gradient(60deg, #6495ED77 25%, transparent 25.5%, transparent 75%, #6495ED77 75%, #6495ED77), linear-gradient(60deg, #6495ED77 25%, transparent 25.5%, transparent 75%, #6495ED77 75%, #6495ED77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
}

#content {
  max-width: 900px;
  margin: 50px auto 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}